<h1>Add nick name</h1>

<%= form_for @user, url: edit_user_path(@user) do |f| %>

  <div class="field">
    <%= f.label :nick %><br />
    <%= f.text_field :nick, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%= link_to 'Back', user_path %>

